/* aw responsive */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}

html {
  scroll-behavior: smooth;
}

body header h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  color: rgb(58, 247, 34);
}

.video-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  background-color: black; 
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
  filter: grayscale(100%);
}

body {
  background-color: black;
  cursor: url("../assets/transparent_cursor.gif"), auto;
}

p {
  font-family: "Courier New", Courier, monospace;
  color: rgb(58, 247, 34);
  text-align: justify;
}

img {
  width: 550px;
  padding: 5px;
  border: solid rgb(58, 247, 34);
  border-radius: 5px;
  margin: auto;
  display: block;
}

nav ul {
  list-style: none;  
  padding: 0;
  margin: 0;
  display: flex;    
  gap: 20px; 
  flex-wrap: wrap;   
}

#set1,
#set2 {
font-family: cursive;
  color: rgb(58, 247, 34);
}

/*Buttonssssssssssssssssssssssssssssssssssss*/
button {
  background-color: rgb(58, 247, 34);
  border: 4px solid #00aa00;
  border-radius: 0px;
  padding: 10px 15px;
  margin: 5px;
  box-shadow: 4px 3px 0 #00aa00;
  transition: all 0.1s ease;
  image-rendering: pixelated;
}

button:hover {
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px 0 #00aa00;
  background-color: yellow;
}

button:active {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0 #00aa00;
}

button a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: "Courier New", Courier, monospace;

}
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

html {
    scroll-behavior: smooth;
}

body header h1{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: rgb(58, 247, 34);
}

.video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
    background-color: black; /* This will show if video doesn't load */
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3; /* Makes video darker so text shows better */
    filter: grayscale(100%); /* Optional: gives it a retro look */
}

body {
    background-color: black;
    cursor: url('../assets/transparent_cursor.gif'), auto;
}

p {
    font-family: 'Press Start 2P', cursive;
    color: rgb(58, 247, 34);
    text-align: justify;
}

#things1,
#things2 {
    color: rgb(58, 247, 34);
    font-family: 'Press Start 2P', cursive;
}


img {
    width: 550px;
    padding: 5px;
    border: solid rgb(58, 247, 34);
    border-radius: 5px;
    margin: auto;
    display: block;
}

/*Buttonssssssssssssssssssssssssssssssssssss*/
button {
     background-color: rgb(58, 247, 34);
    border: 4px solid #00aa00; 
    border-radius: 0px;
    padding: 10px 15px;
    margin: 5px;
    box-shadow: 4px 3px 0 #00aa00; 
    transition: all 0.1s ease;
    image-rendering: pixelated;
}

button:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px 0 #00aa00;
}

button:active {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0 #00aa00;
}   

button a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Press Start 2P', cursive;
}

#like:hover,
#things:hover,
#sectionContactsfb:hover,
#sectionContactsyt:hover {
    background-color: yellow;
}

